---
const year = new Date().getFullYear();
---

<footer>
	Copyright &copy; {year}
  <br/>
	Made with <span aria-label="rocket emoji">❤️</span> and <a href="https://astro.build">Astro</a> in Madrid
</footer>