---
const url = new URL(Astro.request.url);
---

<div class="nav-links">
  <a class={url.pathname === '/' ? 'active elements' : 'elements'} href="/">Home</a>
  <a class={url.pathname.includes('/posts') || url.pathname.includes('/tags') ? 'active elements' : 'elements'} href="/posts/">Blog</a>
  <a class={url.pathname.includes('/projects') ? 'active elements' : 'elements'} href="/projects/">Projects</a>
  <a class={url.pathname.includes('/talks') ? 'active elements' : 'elements'} href="/talks/">Talks</a>
  <a class={url.pathname.includes('/about') ? 'active elements' : 'elements'} href="/about/">About</a>
  <a href={`https://www.twitter.com/clear_is_me`} class="social" id="twitter" target="blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a href={`https://www.github.com/clara-jr`} class="social" id="github" target="blank">
    <i class="fa fa-github"></i>
  </a>
  <a href={`https://www.linkedin.com/in/clara-jim%C3%A9nez-recio-48ba78101/`} class="social" id="linkedin" target="blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>

<script>
  // hamburguer clicked, expand menu
  document.querySelector('.navbar-header').addEventListener('click', () => {
    document.querySelector('.nav-links').classList.toggle('expanded');
  });
</script>
