/*--
    Common Css
--*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: body;
  src: url('../fonts/IBMPlexSans-Text.otf');
}
@font-face {
  font-family: body;
  font-style: italic; src: url('../fonts/IBMPlexSans-TextItalic.otf');
}
@font-face {
  font-family: body;
  font-weight: 800;   src: url('../fonts/IBMPlexSans-Bold.otf');
}
@font-face {
  font-family: mono;
  src: url('../fonts/IBMPlexMono-Text.otf');
}

body {font: 18px/28px body, sans-serif;}
#navigation { position:fixed; }
#navigation-sticky-wrapper { height: 1px; }
#transparentNav {
    background: linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

pre, code { font-family: mono, monospace; }
a#cv {
    font-size: 14px;
    color: inherit;
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 50px;
    border: 1px solid #000;
}

pre {
    font-size: 16px;
    word-break: normal;
    word-wrap: normal;
    max-height: 400px;
    background: #f7f7f7;
    line-height: 24px;
    border: 2px solid #00000030;
    border-radius: 4px;
    padding: 0px 25px 0px 5px !important;
}

pre.about_inner {
  padding: 0px 25px 0px 0px !important;
  max-height: 533px;
}

pre p {
  font-size: 16px;
}

code {
    white-space: inherit !important;
    font-size: 14px !important;
    line-height: 1.67;
    letter-spacing: .1px;
}

code.code-colors:before, code.code-colors>a.line {
    position: absolute;
    left: 0;
    width: 56px;
}

code.code-colors:before {
    content: " ";
    display: block;
    top: 0;
    height: 100%;
    background: #f7f7f7;
}

/*
gris: #969896
morado: #c377be, #b169be, #a71d5d
azul: #00afda
rojo: #fd5750
verde: #8dbc77
naranja: #d7af63
*/

.code-comment, .code-meta {
    color: #969896;
}

.code-keyword, .code-selector-tag, .code-type {
    color: #b169be
}

.code-function {
  color: #00afda;
}

.code-emphasis, .code-quote, .code-string, .code-strong, .code-template-variable, .code-variable {
    color: #fd5750;
}

.code-constant {
  color: #d7af63;
}

code.code-colors>a.linemoji {
  padding: 7px 0px !important;
}

code.code-colors>a.line {
    padding: 4px 0px;
    text-decoration: none;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: .1px;
    color: rgba(0,0,0,.2);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

code.code-colors:before, code.code-colors>a.line {
    position: absolute;
    left: 0;
    width: 56px;
}

body {
  color: #000;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}
body {
    font: 18px/28px body, sans-serif;
    color: #000;
}
@media(max-width:463px) {
  #buttons {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  font-size: 15px;
}
/*============== Mixins style start ================*/

/*--
    custom heading Start
--*/
.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 45px;
  color: #ff530a;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #959595; /*#C8C1B3;*/
  margin-left: -70px;
}
/*--
    custom heading Start
--*/
.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #FF5333;
}
.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
/*--
    transition custom style
--*/
.transition {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/*============== Mixins style close ================*/
/*--
    header-img start Start
--*/

/*--
    nav Start
--*/
nav {
  z-index: 99999;
  width: 100%;
}
nav .block {
  margin-top: -60px; /*-85px;*/
  background: #fff;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 1);/*background: rgba(255, 255, 255, 0.89);*/
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  background: none;
}
nav .block .navbar-default .navbar-brand {
  padding-left: 0px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a.social:hover {
  color: #000;
}
nav .block .navbar-default .navbar-nav > li > a.elements:hover:before {
  background-color: #000;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}
nav .block .navbar-default .navbar-nav > li.current > a.elements:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  background-color: #000;
}
nav .block .navbar-default .navbar-nav > li > a.active:before {
  width: 100%;
  background-color: #000;
}
nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
nav .block .navbar-default .navbar-nav > .active > a.elements:before,
nav .block .navbar-default .navbar-nav > .active > a.elements:focus:before,
nav .block .navbar-default .navbar-nav > .active > a.elements:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #000;
}
/*--
    blog Start
--*/
#blog {
  padding-bottom: 100px;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
#blog .block .heading {
  color: #2E2E2E; /*#fff;*/
}
#blog .block ul {
  padding-top: 40px;
}
#blog .block ul li {
  overflow: hidden;
  width: 50%;
  float: left;
  background: #fff;
  text-align: center;
  color: #959595;
  transform: 1s;
}
#blog .block ul li:hover img {
  transform: scale(1.2) rotate(10deg);
}
#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;
  position: relative;
}
#blog .block ul li h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90px;
  height: 1px;
  background: #CBC4B5;
  margin-left: -45px;
}
#blog .block ul li p {
  padding-top: 25px;
}
#blog .block ul li .blog-img {
  float: left;
  width: 50%;
  height: 100%;
  background: red;
  overflow: hidden;
}
#blog .block ul li .blog-img img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#blog .block ul li .blog-img-2 {
  width: 50%;
  float: right;
  overflow: hidden;
}
#blog .block ul li .blog-img-2 img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  width: 100%;
}
#blog .block ul li .content-right {
  padding: 40px 35px 23px;
  font-size: 16px;
  line-height: 26px;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}
#blog .block ul li .content-right:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(45deg);
  margin-left: -15px;
}
#blog .block ul li .content-left {
  padding: 40px 35px 23px;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 999;
}
#blog .block ul li .content-left:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  background: #fff;
  transform: rotate(45deg);
}
#blog .block .btn-more-info {
  float: right;
  padding: 28px 102.5px;
  border-radius: 0px;
  background: #ff530a;
  color: #2E2E2E; /*#fff;*/
  border: 1px solid transparent ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#blog .block .btn-more-info:hover {
  background: transparent;
  color: #ff530a;
  border: 1px solid #ff530a;
}
/*--
    contact-us Start
--*/
#contact-us {
  padding: 70px 0px;
}
#contact-us .block .title {
  padding: 20px 0;
}
#contact-us .block form {
  padding-bottom: 20px;
}
#contact-us .block form input {
  height: 48px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form input:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block form textarea {
  height: 140px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form textarea:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block a {
  background: #FF4F02;
  float: right;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px;
  border: 0px;
  width: 512px;
  height: 50px;
  padding-top: 15px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/*--
    footer Start
--*/
#footer {
  padding: 70px 0px;
}
#footer .block h3 {
  color: #2E2E2E;
  padding-bottom: 25px;
}
#footer .block h3 span {
  color: #FF4F02;
}
#footer .block .blog ul,
#footer .block .info ul,
#footer .block .gallary ul {
  padding-top: 20px;
}
#footer .block .blog ul li,
#footer .block .info ul li,
#footer .block .gallary ul li {
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 20px;
}
#footer .block .blog ul li h4,
#footer .block .info ul li h4,
#footer .block .gallary ul li h4 {
  padding-bottom: 10px;
  display: block;
  color: #FF4F02;
}
#footer .block .blog ul li h4 i,
#footer .block .info ul li h4 i,
#footer .block .gallary ul li h4 i {
  color: #555;
  margin-right: 30px;
  font-size: 20px;
}
#footer .block .blog ul li h4 a,
#footer .block .info ul li h4 a,
#footer .block .gallary ul li h4 a {
  color: #FF4F02;
  font-size: 20px;
  font-weight: 600;
}
#footer .block .blog ul li p,
#footer .block .info ul li p,
#footer .block .gallary ul li p {
  color: #474747;
  font-size: 14px;
}
#footer .block .social-media-link h3 {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 30px;
}
#footer .block .social-media-link h3 span {
  color: #FF4F02;
}
#footer .block .social-media-link ul li {
  display: inline-block;
  margin-right: 20px;
}
#footer .block .social-media-link ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 100%;
  background: #B0B0B0;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#footer .block .social-media-link ul li a:hover {
  background: #FF4F02;
  color: #fff;
}
/*--
    footer-bottom Start
--*/
#footer-bottom {
  background: #E9E9E9;
  padding: 20px 0px;
}
#footer-bottom p {
  text-align: center;
  padding-top: 12px;
  color: #454545;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#footer-bottom p a {
  color: #FF4F02;
}

/* plato especial */
.dis-table {
  display: table;
}
.dis-table .dis-table-cell {
  display: table-cell;
  padding: 0;
  float: none;
}
.color-bg {
  background: #ff530a;
}
.section-title {
  padding: 20%;
  text-align: right;
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}

.dis-table .dis-table-cell {
  display: table-cell;
  padding: 0;
  float: none;
}
.section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* opiniones */

.broun-block {
  background: white; /*#F39D17;*/
  padding-bottom: 34px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel li {margin-right: 5px}

/*.carousel-inner*/
#myCarousel {
  margin-top: 50px;
  border-bottom: 4px solid #F39D17;
}
.carousel-inner > .item {
}
.carousel-caption {
  padding: 0px;
  bottom: 40%;
  display: block;
  height: 80px;
}
.carousel-caption h1 {
  font-size: 45px;
  padding: 10px 15px;
  background: rgba(128, 180, 33, 0.80);
  color: #FFFFFF;
  text-shadow: none;
  font-weight: bold;
  display: inline-block;
}
.carousel-caption h3 {
  font-size: 30px;
  color: #1C4604;
  font-weight: bold;
  text-shadow: #fff 1px 1px 1px;
}
.actionPanel {
  padding: 25px 0;
  background: #F39D17;
}
.actionPanel h3 {
  margin: 0px;
}
.circle {
  background: #fff;
  width: 90px;
  height:110px;
  border-radius: 0px;
  color: #F39D17;
  line-height: 90px !important;
}
/*#section-strapline {
  background: #f00bfff;
  line-height: 42px;
  clear: both;
}*/
/* Client Feedback
--------------------------------------------------------*/
.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
  background:white; /*#F39D17;*/
  padding-bottom: 34px;
}
.block-text {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 0 #2E2E2E;
  color: #626262;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
}
.block-text a {
  color: #2E2E2E;
  font-size: 25px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  padding: 40px 0px;
  position: relative;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
}
.mark {
  padding: 12px 0;background:none;
}
.block-text p {
  color: #959595; /*#585858;*/
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
.sprite {
}
.sprite-i-triangle {
  background-position: 0 -1298px;
  height: 44px;
  width: 50px;
}
.block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}


.block {
  display: block;
}
.zmin {
  z-index: 1;
}
.ab {
  position: absolute;
}

.person-text {
  padding: 10px 0 0;
  text-align: center;
  z-index: 2;
}
.person-text a {
  color: #2E2E2E;
  display: block;
  font-size: 15px;
  margin-top: 3px;
  font-weight: bold;
}
.person-text i {
  color: #fff;
  font-size: 13px;
}
.rel {
  position: relative;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  font-size: large;
}
.carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  color: #000;
}

/* inicio */

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #2E2E2E;
  /*background: url('../img/header.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  padding-top:650px;
  text-align: center;
}

header .header-content .header-content-inner {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #2E2E2E; /*rgba(255,255,255,.7);*/
}

@media(min-width:768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    /*top: 50%;*/
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }

  .btn-primary {
    border-color: #ff530a;
    color: #fff;
    background-color: #ff530a;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    border-color: #ff530a; /*colores azules*/
    color: #fff;
    background-color: #FF5333; /*colores azules*/
  }

  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    background-image: none;
  }

  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    border-color: #ff530a;
    background-color: #ff530a;
  }

  .btn-primary .badge {
    color: #ff530a;
    background-color: #fff;
  }

  .btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .btn-xl {
    padding: 15px 30px;
  }
}

.d-flex {
  display: flex!important;
  justify-content: space-between;
}

.h4, h4 {
    font-size: 2.4rem;
}

.page-link {
  font-size: 18px;
}

.alert.alert-danger {
    margin-top: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media(min-width:600px) {
  #about {
    display: flex;
    align-items: center;
  }
  .about_photo img {
    width: 100%;
  }
  .project_photo img {
    width: 100%;
  }
}

@media(max-width:600px) {
  .about_photo {
    text-align: center;
  }
  .about_photo img {
    width: 70%;
    margin-bottom: 20px;
  }
  .project_photo {
    text-align: center;
  }
  .project_photo img {
    width: 70%;
    margin-top: 20px;
  }
  .blog-items {
    margin-top: -20px;
  }
}

@media(max-width:300px) {
  .about_photo img {
    width: 80%;
  }
  .project_photo img {
    width: 80%;
  }
}

@media(max-width:150px) {
  .about_photo img {
    width: 90%;
  }
  .project_photo img {
    width: 90%;
  }
}

.fa-twitter, .fa-github {
  color: #000;
}

.fa-twitter:hover {
  color: #00AFDE;
}

.fa-github:hover {
  color: #800080;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.fa-facebook:hover {
  color: #3b5998;
}

a.index-item {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #00000030;
}

a.index-item:hover {
    border-bottom: 2px solid #000;
}
/* #00AFDE */

.post-title, .post-title a {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.page-link:hover {
  background-color: #eee;
}

#submit-form {
  width: 150px;
  border-radius: 300px;
  color: #000;
  border: 2px solid #00000030;
  margin-top:20px;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #fff;
  font-weight: 700;
}

#submit-form:hover {
  background-color: #ddd;
}

.about_inner p {
  font-size: 16px;
}
@media(min-width:768px) {
  #section-post p {
    font-size: 16px;
  }
}

@media(max-width:768px) {
  #section-post p {
    font-size: 15px;
  }
}

.section-heading {
  font-weight: bold;
  margin-block-start: 1.5em;
  margin-block-end: 1em;
}

.section-img {
  max-width: 80%;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.header-img {
  max-width: 100%;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
}

.blockquote {
  font-size: 17.5px;
}

.blockquote h6 {
  margin-top: 1.5em;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

#section-post p {
  line-height: 1.5;
}

@media(max-width:768px) {
  #post {
    padding-right:0px;
    padding-left:0px;
  }
  #post-father{
    margin:0;
  }
}

@media (min-width: 768px) {
  .container-new {
      width: 800px;
  }
}

.container-new {
  padding-left: 50px;
  padding-right: 50px;
}

.contact-form .form-control, .comment-form .form-control {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
}


.rounded-circle {
    border-radius: 50% !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

a.link {
  color: inherit;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid #00000030
}

a.link:hover {
  border-bottom: 2px solid #000;;
}

a.title-link {
  color: inherit;
  border-bottom: 2px solid #00000030
}

a.title-link:hover {
  border-bottom: 2px solid #000;;
}

h3.project {
  line-height: 1.3;
}
